@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --unit: 10px;
  --Mulish: "Mulish", sans-serif;
  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;
  --span-xs: var(--unit);
  --span-s: calc(var(--unit) * 2);
  --span-m: calc(var(--unit) * 3);
  --span-l: calc(var(--unit) * 4);
  --span-xl: calc(var(--unit) * 5);
  --span-2xl: calc(var(--unit) * 6);
  --weight-xsm: 300;
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;
  --weight-xlg: 700;
  --weight-xxlg: 800;
  --weight-2xxlg: 900;
  --navigation__height: 60px;
  --border: #dddddd;
  --search__background: #002d63;
  --search-bar__height: 70px;
  --nav-black: #000000;
  --white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--Mulish);
  background: #f5f5f5;
}

@media only screen and (min-width: 1800px) {
  .container {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media only screen and (max-width: 1799px) {
  .container {
    padding-left: 8.5%;
    padding-right: 8.5%;
  }
}

@media only screen and (max-width: 1440px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  height: var(--navigation__height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--border);
  background: #ffffff;
}

@media only screen and (max-width: 1140px) {
  .header {
    border-bottom: none;
  }
}

.header__logo {
  height: 35px;
}

.header__link {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 35px;
}

.header__logo {
  height: 35px;
}

.header .container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__icon {
  display: none;
}

@media only screen and (max-width: 1140px) {
  .header__icon {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1140px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--span-m);
  list-style-type: none;
}

@media only screen and (max-width: 1140px) {
  .nav__list {
    display: none;
  }
}

.nav__link {
  text-decoration: none;
  font-family: var(Mulish);
  font-size: var(--size-m);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--nav-black);
}

.nav__link--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--span-xs);
}

.section-search-bar {
  background: var(--search__background);
  border-radius: 3px;
  height: var(--search-bar__height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1140px) {
  .section-search-bar {
    display: none;
  }
}

.section-search-bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
}

.section-search-bar .container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--span-xs);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.search-bar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: var(--span-xs);
  padding-right: var(--span-s);
  padding-bottom: var(--span-xs);
  padding-left: var(--span-xs);
  height: 50px;
  background: #ffffff;
  border: 1px solid var(--border);
  border-radius: 3px;
  gap: var(--span-xs);
}

.search-bar__wrapper--guest {
  padding-left: calc(var(--span-xs) + 5px);
}

.search-bar__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar__icon svg {
  width: 16px;
  height: 16px;
}

.search-bar__group {
  height: 50px;
}

.search-bar__group label {
  display: none;
}

.search-bar__group--lg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 470px;
          flex: 1 1 470px;
}

.search-bar__group--md {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}

.search-bar__group--sm {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
}

.search-bar__input {
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  outline: none;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-s);
  line-height: 20px;
  color: #333333;
}

.search-bar__input::-webkit-input-placeholder {
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-s);
  line-height: 20px;
  color: #333333;
}

.search-bar__button {
  font-family: var(--Mulish);
  font-size: calc(var(--size-m) + 2px);
  font-style: normal;
  font-weight: var(--weight-xlg);
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  display: block;
  cursor: pointer;
  padding: calc(var(--span-xs) + 5px) calc(var(--span-m) + 5px);
  height: 50px;
  color: var(--white);
  background: #00a1e6;
  border-radius: 3px;
  border: none;
  outline: none;
  width: 100%;
}

.section-search {
  background: #ffffff;
  padding: 6px 0;
  height: 51px;
  border-top: 1px solid #dddddd;
  display: none;
}

@media only screen and (max-width: 1140px) {
  .section-search {
    display: block;
  }
}

.section-search .container {
  height: 100%;
}

.search {
  height: 100%;
  cursor: pointer;
}

.search__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  gap: 15px;
}

.search__icon {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__icon svg {
  width: 16px;
  height: 16px;
}

.search__query {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search__header {
  font-family: var(--Mulish);
  font-size: var(--size-s);
  font-style: normal;
  font-weight: var(--weight-xlg);
  line-height: 16px;
  letter-spacing: 0px;
  color: #000000;
  text-align: left;
}

.search__paragraph {
  margin-top: 3px;
  font-family: var(--Mulish);
  font-size: var(--size-xs);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.section-filter {
  background: #ffffff;
  height: 51px;
  border-top: 1px solid #dddddd;
  display: none;
}

@media only screen and (max-width: 1140px) {
  .section-filter {
    display: block;
  }
}

.section-filter .container {
  height: 100%;
}

.filter {
  height: 100%;
  cursor: pointer;
}

.filter__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 100%;
}

.filter__item:first-child {
  border-right: 1px solid #dddddd;
}

.filter__button {
  padding: 6px var(--span-m);
  background: transparent;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .filter__button {
    padding: 6px var(--span-s);
  }
}

.filter__button .text {
  font-family: var(--Mulish);
  font-size: var(--size-s);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #002d63;
}

.section-search-page {
  margin-top: calc(var(--span-xs) + 5px);
  display: block;
}

@media only screen and (max-width: 1140px) {
  .section-search-page {
    display: none;
  }
}

.search-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

@media only screen and (max-width: 1200px) {
  .search-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.3fr 2fr;
        grid-template-columns: 0.3fr 2fr;
  }
}

@media only screen and (max-width: 1140px) {
  .search-page {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.search-page__sidebar {
  display: -ms-grid;
  display: grid;
  gap: 7px;
  max-width: 290px;
  margin-bottom: calc(var(--span-2xl) + var(--span-s));
}

@media only screen and (max-width: 1200px) {
  .search-page__sidebar {
    max-width: 250px;
  }
}

@media only screen and (max-width: 1140px) {
  .search-page__sidebar {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .search-page__sidebar div {
    max-width: 250px;
  }
}

.search-page__view {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.search-page__map {
  height: 100px;
  position: relative;
}

.search-page__map-image {
  display: block;
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100px;
}

.search-page__map-image-box--searching {
  background: #ffffff;
  height: 100%;
  border-radius: 5px;
}

.search-page__map-image-box--searching img {
  display: none;
}

.search-page__map-button {
  background: #002d63;
  border: 1px solid #002d63;
  border-radius: 3px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  padding: var(--span-xs) var(--span-l);
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-xlg);
  font-size: var(--size-s);
  line-height: 16px;
  color: #ffffff;
}

@media only screen and (max-width: 1200px) {
  .search-page__map-button {
    padding: var(--span-xs) var(--span-m);
  }
}

.search-page__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  padding: var(--span-m) var(--span-2xl);
}

@media only screen and (max-width: 1200px) {
  .search-page__overlay {
    padding: var(--span-xs) var(--span-l);
  }
}

.search-page__price-box {
  padding: calc(var(--span-xs) + 5px) var(--span-s);
  background: #ffffff;
  border-radius: 5px;
}

.search-page__price-box-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--span-m);
}

.search-page__heading {
  font-family: var(--Mulish);
  font-size: var(--size-s);
  font-style: normal;
  font-weight: var(--weight-xlg);
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  padding-top: 5px;
}

.search-page__clear {
  font-family: var(--Mulish);
  font-size: var(--size-xs);
  font-style: normal;
  font-weight: var(--weight-xlg);
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #002d63;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.search-page .divider {
  width: 14px;
  border: 1px solid #757575;
  height: 0;
}

.search-page__price-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  outline: none;
  border: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 5px var(--span-xs);
  height: 30px;
  display: block;
  max-width: 110px;
}

@media only screen and (max-width: 1200px) {
  .search-page__price-input {
    max-width: 90px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90px;
            flex: 0 1 90px;
  }
}

.search-page__review-box {
  padding: calc(var(--span-xs) + 5px) var(--span-s);
  background: #ffffff;
  border-radius: 5px;
}

.search-page__star-box {
  padding: calc(var(--span-xs) + 5px) var(--span-s);
  background: #ffffff;
  border-radius: 5px;
}

.search-page__hotel-box {
  padding: calc(var(--span-xs) + 5px) var(--span-s);
  background: #ffffff;
  border-radius: 5px;
}

.search-page__hotel-group {
  margin-top: 8px;
}

.search-page__hotel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: var(--span-xs);
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #ffffff;
  height: 40px;
}

.search-page__hotel-input {
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  outline: none;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.search-page__hotel-button {
  background: transparent;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-page__reservation-box {
  padding: calc(var(--span-xs) + 5px) var(--span-s);
  background: #ffffff;
  border-radius: 5px;
}

.search-page__meal-box {
  padding: calc(var(--span-xs) + 5px) var(--span-s);
  background: #ffffff;
  border-radius: 5px;
}

.search-page__property-box {
  padding: calc(var(--span-xs) + 5px) var(--span-s);
  background: #ffffff;
  border-radius: 5px;
}

.search-page__facility-box {
  padding: calc(var(--span-xs) + 5px) var(--span-s);
  background: #ffffff;
  border-radius: 5px;
}

.section-mobile-search-page {
  display: none;
  margin-top: var(--span-xs);
  min-height: calc(100vh - 2 * 51px - 185px);
}

@media only screen and (max-width: 1140px) {
  .section-mobile-search-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.mobile-select {
  padding: 7px var(--span-xs);
  background: #002d63;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-select__text {
  font-family: var(--Mulish);
  font-size: var(--size-s);
  font-style: normal;
  font-weight: var(--weight-xlg);
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}

.mobile-select__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-search-page {
  height: 100%;
}

.mobile-search__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .mobile-search__actions {
    padding: var(--span-s) var(--span-xs);
  }
}

.mobile-search__actions p {
  margin-left: var(--span-s);
}

.mobile-search__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .mobile-search__footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-search__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-search__footer .pagination__list {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .mobile-search__footer .pagination__list {
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.mobile-search__view {
  margin-top: calc(var(--span-xs) + 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-search__results {
  font-family: var(--Mulish);
  font-size: var(--size-s);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.mobile-search__text {
  font-family: var(--Mulish);
  font-size: var(--size-s);
  font-style: normal;
  font-weight: var(--weight-xlg);
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}

.mobile-search__list {
  margin-top: calc(var(--span-xs) + 5px);
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.mobile-search__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  gap: 10px;
}

.mobile-search__image-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  height: 100%;
}

.mobile-search__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mobile-search__details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: var(--span-xs);
  padding-left: 0;
}

.mobile-search__header {
  font-family: var(--Mulish);
  font-size: var(--size-s);
  font-style: normal;
  font-weight: var(--weight-xlg);
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #333333;
}

.mobile-search__ratings {
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1px;
}

.mobile-search__ratings svg {
  width: 12px;
  height: 12px;
}

.mobile-search__info {
  margin-top: 2px;
  font-family: var(--Mulish);
  font-size: 10px;
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color: #333333;
}

.mobile-search__info a {
  color: #002d63;
  text-decoration: none;
}

.mobile-search__value {
  margin-top: 3px;
  font-family: Mulish;
  font-size: 10px;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.mobile-search__value--lg {
  font-weight: var(--weight-xlg);
}

.mobile-search__value--sm {
  font-weight: var(--weight-sm);
}

.reviews__list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.reviews__checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.reviews__check {
  width: 16px;
  height: 16px;
  position: relative;
}

.reviews__checkmark {
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border: 1px solid #757575;
  border-radius: 1px;
  padding: 2px;
}

.reviews__checkmark svg {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.reviews__checkbox:checked + .reviews__checkmark {
  background: #002d63;
}

.reviews__checkbox:checked + .reviews__checkmark svg {
  opacity: 1;
  visibility: visible;
}

.reviews__label {
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-xs);
  line-height: 16px;
  color: #333333;
}

.reviews__value {
  margin-left: auto;
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-xs);
  line-height: 16px;
  text-align: left;
  color: #757575;
}

.stars__list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.stars__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.stars__checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.stars__check {
  width: 16px;
  height: 16px;
  position: relative;
}

.stars__checkmark {
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border: 1px solid #757575;
  border-radius: 1px;
  padding: 2px;
}

.stars__checkmark svg {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.stars__checkbox:checked + .stars__checkmark {
  background: #002d63;
}

.stars__checkbox:checked + .stars__checkmark svg {
  opacity: 1;
  visibility: visible;
}

.stars__label {
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-xs);
  line-height: 16px;
  color: #333333;
}

.stars__value {
  margin-left: auto;
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-xs);
  line-height: 16px;
  text-align: left;
  color: #757575;
}

.stars__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-xs);
  line-height: 16px;
  color: #333333;
}

.reservation__list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.reservation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.reservation__checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.reservation__check {
  width: 16px;
  height: 16px;
  position: relative;
}

.reservation__checkmark {
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border: 1px solid #757575;
  border-radius: 1px;
  padding: 2px;
}

.reservation__checkmark svg {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.reservation__checkbox:checked + .reservation__checkmark {
  background: #002d63;
}

.reservation__checkbox:checked + .reservation__checkmark svg {
  opacity: 1;
  visibility: visible;
}

.reservation__label {
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-xs);
  line-height: 16px;
  color: #333333;
}

.reservation__value {
  margin-left: auto;
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-xs);
  line-height: 16px;
  text-align: left;
  color: #757575;
}

.meal__list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.meal__list--hidden {
  display: none;
}

.meal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.meal__checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.meal__check {
  width: 16px;
  height: 16px;
  position: relative;
}

.meal__checkmark {
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border: 1px solid #757575;
  border-radius: 1px;
  padding: 2px;
}

.meal__checkmark svg {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.meal__checkbox:checked + .meal__checkmark {
  background: #002d63;
}

.meal__checkbox:checked + .meal__checkmark svg {
  opacity: 1;
  visibility: visible;
}

.meal__label {
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-xs);
  line-height: 16px;
  color: #333333;
}

.meal__value {
  margin-left: auto;
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-xs);
  line-height: 16px;
  text-align: left;
  color: #757575;
}

.meal__list .show-more,
.meal__list .show-less {
  background: transparent;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-family: var(--Mulish);
  font-size: var(--size-xs);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  cursor: pointer;
  color: #002d63;
}

.property__list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.property__list--hidden {
  display: none;
}

.property__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.property__checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.property__check {
  width: 16px;
  height: 16px;
  position: relative;
}

.property__checkmark {
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border: 1px solid #757575;
  border-radius: 1px;
  padding: 2px;
}

.property__checkmark svg {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.property__checkbox:checked + .property__checkmark {
  background: #002d63;
}

.property__checkbox:checked + .property__checkmark svg {
  opacity: 1;
  visibility: visible;
}

.property__label {
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-xs);
  line-height: 16px;
  color: #333333;
}

.property__value {
  margin-left: auto;
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-xs);
  line-height: 16px;
  text-align: left;
  color: #757575;
}

.property__list .show-more,
.property__list .show-less {
  background: transparent;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-family: var(--Mulish);
  font-size: var(--size-xs);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  cursor: pointer;
  color: #002d63;
}

.view {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.view__heading {
  font-family: var(--Mulish);
  font-size: var(--size-m);
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: calc(var(--span-xs) + 5px);
}

.view__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.view__filter {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.view__filter:not(:last-child) {
  border-right: 1px solid #dddddd;
}

.view__filter button {
  background: #ffffff;
  outline: none;
  border: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  cursor: pointer;
  padding: calc(var(--span-xs) + 2px) var(--span-xl);
  font-family: var(--Mulish);
  font-size: var(--size-s);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .view__filter button {
    padding: calc(var(--span-xs) + 2px) var(--span-m);
  }
}

.view__filter button.first-child {
  border-radius: 5px 0px 0px 5px;
}

.view__filter button.last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.view__filter button.active {
  background: #002d63;
  color: #fff;
}

.view__list {
  margin-top: calc(var(--span-xs) + 5px);
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.view__list--hidden {
  display: none;
}

.view__item {
  padding: var(--span-xs);
  padding-right: var(--span-s);
  background: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.view__image-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  margin-right: calc(var(--span-xs) + 5px);
}

.view__image {
  display: block;
  width: 100%;
}

.view__image--sm {
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
}

.view__image-wrapper {
  margin-top: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.view__details {
  padding-top: calc(var(--span-xs) + 5px);
}

.view__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view__ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
}

.view__ratings svg {
  width: 12px;
  height: 12px;
}

.view__header {
  font-family: var(--Mulish);
  font-size: var(--size-m);
  font-style: normal;
  font-weight: var(--weight-xlg);
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

.view__paragraph {
  margin-top: 5px;
  font-family: var(--Mulish);
  font-size: var(--size-xs);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #333333;
}

.view__paragraph--light {
  margin-top: 7px;
  color: #757575;
}

.view__paragraph a {
  color: #294f7c;
  text-decoration: none;
}

.view__tags {
  margin-top: 11px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  position: relative;
}

.view__tag {
  padding: 2px 5px;
  border: 1px solid #00a1e6;
}

.view__tag span {
  font-family: var(--Mulish);
  font-size: var(--size-xs);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #00a1e5;
}

.view__tag--more {
  cursor: pointer;
}

.view__tag--more:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.view .tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  padding: var(--span-s) calc(var(--span-xs) + 5px);
  background: #333333;
  right: -20px;
  top: 100%;
  -webkit-transform: translate(-30%, 0);
          transform: translate(-30%, 0);
  margin-top: var(--span-xs);
  border-radius: 3px;
  width: 300px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.view .tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 47%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333333 transparent;
}

.view .tooltip__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 10px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.view .tooltip__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 20px);
          flex: 1 0 calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.view .tooltip__item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.view .tooltip__item .text {
  font-family: var(--Mulish);
  font-size: var(--size-xs);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

.view__location {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view__location .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
}

.view__location .icon svg {
  width: 16px;
  height: 20px;
}

.view__location .text {
  font-family: var(--Mulish);
  font-size: var(--size-xs);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #333333;
}

.view__mark {
  position: absolute;
  right: calc(var(--span-xs) + 5px);
  top: calc(var(--span-xs) + 5px);
  z-index: 2;
}

.view__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.empty, .error {
  margin-top: calc(var(--span-2xl) + 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.empty--hidden {
  display: none;
}

.empty__icon svg {
  width: 24px;
  height: 24px;
}

.empty__text {
  margin-top: var(--span-s);
  font-family: var(--Mulish);
  font-size: var(--size-m);
  font-style: normal;
  font-weight: var(--weight-xlg);
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #757575;
}

.error--hidden {
  display: none;
}

.error__icon svg {
  width: 24px;
  height: 24px;
}

.error__text {
  margin-top: var(--span-s);
  font-family: var(--Mulish);
  font-size: var(--size-m);
  font-style: normal;
  font-weight: var(--weight-xlg);
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #757575;
}

.error__message {
  margin-top: 5px;
  font-family: var(--Mulish);
  font-size: var(--size-xs);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #757575;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__text {
  font-family: var(--Mulish);
  font-size: var(--size-s);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #333333;
  margin-right: var(--span-s);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.pagination__button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
}

.pagination__button .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
}

.pagination__button .icon-prev--disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.pagination__button .icon-next--disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.pagination__button.active {
  background: #002d63;
}

.pagination__button.active span {
  color: #ffffff;
}

.pagination__button span {
  font-family: var(--Mulish);
  font-size: var(--size-s);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #333333;
}

.price {
  margin-left: auto;
  padding-top: calc(var(--span-2xl) + var(--span-xl));
}

.price span {
  display: block;
}

.price__save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.price__save span {
  display: inline !important;
  background: #00a1e6;
  padding: 1px 5px;
  font-family: var(--Mulish);
  font-size: var(--size-xs);
  font-style: normal;
  font-weight: var(--weight-xlg);
  line-height: 20px;
  letter-spacing: 0px;
  text-align: right !important;
  color: #ffffff;
}

.price__avg {
  margin-top: 5px;
  font-family: var(--Mulish);
  font-size: var(--size-xs);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 16px;
  letter-spacing: 0px;
  text-align: right;
  color: #757575;
}

.price__tag-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.price__tag--new {
  font-family: var(--Mulish);
  font-size: var(--size-l);
  font-style: normal;
  font-weight: var(--weight-xlg);
  line-height: 30px;
  letter-spacing: 0px;
  text-align: right;
  color: #000000;
}

@media only screen and (max-width: 1200px) {
  .price__tag--new {
    font-size: calc(var(--size-m));
    line-height: 25px;
  }
}

.price__tag--old {
  font-family: var(--Mulish);
  font-size: var(--size-xs);
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #757575;
  text-decoration: line-through;
}

@media only screen and (max-width: 1200px) {
  .price__tag--old {
    font-size: 10px;
    line-height: 15px;
  }
}

.mobile-price {
  padding-top: 6px;
}

.mobile-price span {
  display: block;
}

.mobile-price__save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-price__save span {
  display: inline !important;
  background: #00a1e6;
  padding: 1px 5px;
  font-family: var(--Mulish);
  font-size: 10px;
  font-style: normal;
  font-weight: var(--weight-xlg);
  line-height: 20px;
  letter-spacing: 0px;
  text-align: right !important;
  color: #ffffff;
}

.mobile-price__avg {
  margin-top: 5px;
  font-family: var(--Mulish);
  font-size: 10px;
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 14px;
  letter-spacing: 0px;
  text-align: right;
  color: #757575;
}

.mobile-price__tag-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-price__tag--new {
  font-family: var(--Mulish);
  font-size: var(--size-s);
  font-style: normal;
  font-weight: var(--weight-xlg);
  line-height: 20px;
  letter-spacing: 0px;
  text-align: right;
  color: #000000;
}

.mobile-price__tag--old {
  font-family: var(--Mulish);
  font-size: 10px;
  font-style: normal;
  font-weight: var(--weight-sm);
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #757575;
  text-decoration: line-through;
}

.back-to-top .scroll-to-top {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-s);
  line-height: 20px;
  color: #002d63;
}

.footer {
  margin-top: var(--span-l);
}

@media only screen and (max-width: 1140px) {
  .footer {
    margin-top: calc(var(--span-s) + 5px);
  }
}

.footer__top {
  padding: var(--span-s) 0;
  background: #333333;
}

.footer__top .container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.footer__bottom {
  padding: var(--span-xs) 0;
  background: #000000;
}

.footer__bottom .container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 40px;
}

@media only screen and (max-width: 600px) {
  .footer__list {
    gap: 30px;
  }
}

.footer__link {
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-s);
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .footer__link {
    font-size: var(--size-xs);
    line-height: 16px;
  }
}

.footer__copyright {
  font-family: var(--Mulish);
  font-style: normal;
  font-weight: var(--weight-sm);
  font-size: var(--size-xs);
  line-height: 16px;
  text-align: left;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .footer__copyright {
    font-size: 10px;
    line-height: 13px;
  }
}
/*# sourceMappingURL=home.css.map */