@import "../abstracts/variables";
@import "../abstracts/mixins";

@import "../base/base";
@import "../base/typography";
@import "../base/utilities";

@import "../layout/grid";
@import "../layout/header";
@import "../layout/navigation";

.section-search-bar {
  background: var(--search__background);
  border-radius: 3px;
  height: var(--search-bar__height);
  display: flex;
  align-items: center;

  @media only screen and (max-width: 1140px) {
    display: none;
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 5;
  }

  .container {
    flex: 0 0 100%;
  }
}

.search-bar {
  display: flex;
  align-items: center;

  &__form {
    display: flex;
    gap: var(--span-xs);
    flex: 0 0 100%;
  }

  &__wrapper {
    display: flex;
    padding-top: var(--span-xs);
    padding-right: var(--span-s);
    padding-bottom: var(--span-xs);
    padding-left: var(--span-xs);
    height: 50px;
    background: #ffffff;
    border: 1px solid var(--border);
    border-radius: 3px;
    gap: var(--span-xs);

    &--guest {
      padding-left: calc(var(--span-xs) + 5px);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__group {
    height: 50px;

    label {
      display: none;
    }

    &--lg {
      flex: 1 1 470px;
    }

    &--md {
      flex: 1 1 250px;
    }

    &--sm {
      flex: 1 1 150px;
    }
  }

  &__input {
    height: 100%;
    appearance: none;
    background: transparent;
    outline: none;
    border: none;
    flex-grow: 1;
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-s);
    line-height: 20px;
    color: #333333;

    &::-webkit-input-placeholder {
      font-family: var(--Mulish);
      font-style: normal;
      font-weight: var(--weight-sm);
      font-size: var(--size-s);
      line-height: 20px;
      color: #333333;
    }
  }

  &__button {
    font-family: var(--Mulish);
    font-size: calc(var(--size-m) + 2px);
    font-style: normal;
    font-weight: var(--weight-xlg);
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    display: block;
    cursor: pointer;
    padding: calc(var(--span-xs) + 5px) calc(var(--span-m) + 5px);
    height: 50px;
    color: var(--white);
    background: #00a1e6;
    border-radius: 3px;
    border: none;
    outline: none;
    width: 100%;
  }
}

.section-search {
  background: #ffffff;
  padding: 6px 0;
  height: 51px;
  border-top: 1px solid #dddddd;
  display: none;

  @media only screen and (max-width: 1140px) {
    display: block;
  }

  .container {
    height: 100%;
  }
}

.search {
  height: 100%;
  cursor: pointer;

  &__box {
    display: flex;
    height: 100%;
    gap: 15px;
  }

  &__icon {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__query {
    display: flex;
    flex-direction: column;
  }

  &__header {
    font-family: var(--Mulish);
    font-size: var(--size-s);
    font-style: normal;
    font-weight: var(--weight-xlg);
    line-height: 16px;
    letter-spacing: 0px;
    color: #000000;
    text-align: left;
  }

  &__paragraph {
    margin-top: 3px;
    font-family: var(--Mulish);
    font-size: var(--size-xs);
    font-style: normal;
    font-weight: var(--weight-sm);
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
    display: flex;
    gap: 20px;
  }
}

.section-filter {
  background: #ffffff;
  height: 51px;
  border-top: 1px solid #dddddd;
  display: none;

  @media only screen and (max-width: 1140px) {
    display: block;
  }

  .container {
    height: 100%;
  }
}

.filter {
  height: 100%;
  cursor: pointer;

  &__list {
    height: 100%;
    display: flex;
  }

  &__button {
    padding: 6px var(--span-m);
    background: transparent;
    outline: none;
    border: none;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;

    &:first-child {
      border-right: 1px solid #dddddd;
    }

    .text {
      font-family: var(--Mulish);
      font-size: var(--size-s);
      font-style: normal;
      font-weight: var(--weight-sm);
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;
      color: #002d63;
    }
  }
}

.section-search-page {
  margin-top: calc(var(--span-xs) + 5px);
}

.search-page {
  display: flex;
  //   grid-template-columns: 0.3fr 2fr;
  gap: 16px;

  @media only screen and (max-width: 1200px) {
    display: grid;
    grid-template-columns: 0.3fr 2fr;
  }

  @media only screen and (max-width: 1140px) {
    grid-template-columns: 1fr;
  }

  &__sidebar {
    display: grid;
    gap: 7px;
    max-width: 290px;
    margin-bottom: calc(var(--span-2xl) + var(--span-s));
    @media only screen and (max-width: 1200px) {
      max-width: 250px;
    }

    @media only screen and (max-width: 1140px) {
      display: none;
    }

    div {
      @media only screen and (max-width: 1200px) {
        max-width: 250px;
      }
    }
  }

  &__view {
    flex-grow: 1;
    flex-shrink: 0;
  }

  &__map {
    height: 100px;
    position: relative;

    &-image {
      display: block;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
      height: 100px;

      &-box--searching {
        background: #ffffff;
        height: 100%;
        border-radius: 5px;
      }

      &--hidden {
        display: none;
      }
    }

    &-button {
      background: #002d63;
      border: 1px solid #002d63;
      border-radius: 3px;
      flex-grow: 1;
      cursor: pointer;
      padding: var(--span-xs) var(--span-l);
      font-family: var(--Mulish);
      font-style: normal;
      font-weight: var(--weight-xlg);
      font-size: var(--size-s);
      line-height: 16px;
      color: #ffffff;

      @media only screen and (max-width: 1200px) {
        padding: var(--span-xs) var(--span-m);
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: var(--span-m) var(--span-2xl);

    @media only screen and (max-width: 1200px) {
      padding: var(--span-xs) var(--span-l);
    }
  }

  &__price-box {
    padding: calc(var(--span-xs) + 5px) var(--span-s);
    background: #ffffff;
    border-radius: 5px;

    &-footer {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--span-m);
  }

  &__heading {
    font-family: var(--Mulish);
    font-size: var(--size-s);
    font-style: normal;
    font-weight: var(--weight-xlg);
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
    padding-top: 5px;
  }

  &__clear {
    font-family: var(--Mulish);
    font-size: var(--size-xs);
    font-style: normal;
    font-weight: var(--weight-xlg);
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #002d63;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .divider {
    width: 14px;
    border: 1px solid #757575;
    height: 0;
  }

  &__price-input {
    appearance: none;
    background: transparent;
    outline: none;
    border: none;
    flex: 0 0 110px;
    flex-grow: 1;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px var(--span-xs);
    height: 30px;
    display: block;
    max-width: 110px;

    @media only screen and (max-width: 1200px) {
      max-width: 90px;
      flex: 0 1 90px;
    }
  }

  &__review-box {
    padding: calc(var(--span-xs) + 5px) var(--span-s);
    background: #ffffff;
    border-radius: 5px;
  }

  &__star-box {
    padding: calc(var(--span-xs) + 5px) var(--span-s);
    background: #ffffff;
    border-radius: 5px;
  }

  &__hotel-box {
    padding: calc(var(--span-xs) + 5px) var(--span-s);
    background: #ffffff;
    border-radius: 5px;
  }

  &__hotel-group {
    margin-top: 8px;
  }

  &__hotel-wrapper {
    display: flex;
    padding: var(--span-xs);
    border: 1px solid #dddddd;
    border-radius: 3px;
    background: #ffffff;
    height: 40px;
  }

  &__hotel-input {
    height: 100%;
    appearance: none;
    background: transparent;
    outline: none;
    border: none;
    flex-grow: 1;
  }

  &__hotel-button {
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__reservation-box {
    padding: calc(var(--span-xs) + 5px) var(--span-s);
    background: #ffffff;
    border-radius: 5px;
  }

  &__meal-box {
    padding: calc(var(--span-xs) + 5px) var(--span-s);
    background: #ffffff;
    border-radius: 5px;
  }

  &__property-box {
    padding: calc(var(--span-xs) + 5px) var(--span-s);
    background: #ffffff;
    border-radius: 5px;
  }

  &__facility-box {
    padding: calc(var(--span-xs) + 5px) var(--span-s);
    background: #ffffff;
    border-radius: 5px;
  }
}

.reviews {
  &__list {
    list-style-type: none;
    display: grid;
    gap: 10px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__check {
    width: 16px;
    height: 16px;
    position: relative;
  }

  &__checkmark {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    border: 1px solid #757575;
    border-radius: 1px;
    padding: 2px;

    svg {
      opacity: 0;
      visibility: hidden;
      transition: all 300ms;
    }
  }

  &__checkbox:checked + &__checkmark {
    background: #002d63;
  }

  &__checkbox:checked + &__checkmark svg {
    opacity: 1;
    visibility: visible;
  }

  &__label {
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-xs);
    line-height: 16px;
    color: #333333;
  }

  &__value {
    margin-left: auto;
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-xs);
    line-height: 16px;
    text-align: left;
    color: #757575;
  }
}

.stars {
  &__list {
    list-style-type: none;
    display: grid;
    gap: 10px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__check {
    width: 16px;
    height: 16px;
    position: relative;
  }

  &__checkmark {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    border: 1px solid #757575;
    border-radius: 1px;
    padding: 2px;

    svg {
      opacity: 0;
      visibility: hidden;
      transition: all 300ms;
    }
  }

  &__checkbox:checked + &__checkmark {
    background: #002d63;
  }

  &__checkbox:checked + &__checkmark svg {
    opacity: 1;
    visibility: visible;
  }

  &__label {
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-xs);
    line-height: 16px;
    color: #333333;
  }

  &__value {
    margin-left: auto;
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-xs);
    line-height: 16px;
    text-align: left;
    color: #757575;
  }

  &__icon {
    display: flex;
    gap: 5px;
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-xs);
    line-height: 16px;
    color: #333333;
  }
}

.reservation {
  &__list {
    list-style-type: none;
    display: grid;
    gap: 10px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__check {
    width: 16px;
    height: 16px;
    position: relative;
  }

  &__checkmark {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    border: 1px solid #757575;
    border-radius: 1px;
    padding: 2px;

    svg {
      opacity: 0;
      visibility: hidden;
      transition: all 300ms;
    }
  }

  &__checkbox:checked + &__checkmark {
    background: #002d63;
  }

  &__checkbox:checked + &__checkmark svg {
    opacity: 1;
    visibility: visible;
  }

  &__label {
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-xs);
    line-height: 16px;
    color: #333333;
  }

  &__value {
    margin-left: auto;
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-xs);
    line-height: 16px;
    text-align: left;
    color: #757575;
  }
}

.meal {
  &__list {
    list-style-type: none;
    display: grid;
    gap: 10px;

    &--hidden {
      display: none;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__check {
    width: 16px;
    height: 16px;
    position: relative;
  }

  &__checkmark {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    border: 1px solid #757575;
    border-radius: 1px;
    padding: 2px;

    svg {
      opacity: 0;
      visibility: hidden;
      transition: all 300ms;
    }
  }

  &__checkbox:checked + &__checkmark {
    background: #002d63;
  }

  &__checkbox:checked + &__checkmark svg {
    opacity: 1;
    visibility: visible;
  }

  &__label {
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-xs);
    line-height: 16px;
    color: #333333;
  }

  &__value {
    margin-left: auto;
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-xs);
    line-height: 16px;
    text-align: left;
    color: #757575;
  }

  &__list .show-more,
  &__list .show-less {
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--Mulish);
    font-size: var(--size-xs);
    font-style: normal;
    font-weight: var(--weight-sm);
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    cursor: pointer;
    color: #002d63;
  }
}

.property {
  &__list {
    list-style-type: none;
    display: grid;
    gap: 10px;

    &--hidden {
      display: none;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__check {
    width: 16px;
    height: 16px;
    position: relative;
  }

  &__checkmark {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    border: 1px solid #757575;
    border-radius: 1px;
    padding: 2px;

    svg {
      opacity: 0;
      visibility: hidden;
      transition: all 300ms;
    }
  }

  &__checkbox:checked + &__checkmark {
    background: #002d63;
  }

  &__checkbox:checked + &__checkmark svg {
    opacity: 1;
    visibility: visible;
  }

  &__label {
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-xs);
    line-height: 16px;
    color: #333333;
  }

  &__value {
    margin-left: auto;
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-xs);
    line-height: 16px;
    text-align: left;
    color: #757575;
  }

  &__list .show-more,
  &__list .show-less {
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--Mulish);
    font-size: var(--size-xs);
    font-style: normal;
    font-weight: var(--weight-sm);
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    cursor: pointer;
    color: #002d63;
  }
}

.view {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__heading {
    font-family: var(--Mulish);
    font-size: var(--size-m);
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: calc(var(--span-xs) + 5px);
  }

  &__filters {
    display: flex;
    list-style-type: none;
  }

  &__filter {
    &:not(:last-child) {
      border-right: 1px solid #dddddd;
    }
    flex: 0 0 25%;

    button {
      background: #ffffff;
      outline: none;
      border: none;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 5px;
      cursor: pointer;
      padding: calc(var(--span-xs) + 2px) var(--span-xl);
      font-family: var(--Mulish);
      font-size: var(--size-s);
      font-style: normal;
      font-weight: var(--weight-sm);
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;

      @media only screen and (max-width: 1200px) {
        padding: calc(var(--span-xs) + 2px) var(--span-m);
      }

      &.first-child {
        border-radius: 5px 0px 0px 5px;
      }

      &.last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &.active {
        background: #002d63;
        color: #fff;
      }
    }
  }

  &__list {
    margin-top: calc(var(--span-xs) + 5px);
    list-style-type: none;
    display: grid;
    gap: 10px;

    &--hidden {
      display: none;
    }
  }

  &__item {
    padding: var(--span-xs);
    padding-right: var(--span-s);
    background: #ffffff;
    border-radius: 5px;
    display: flex;
    position: relative;
  }

  &__image-box {
    flex: 0 0 200px;
    margin-right: calc(var(--span-xs) + 5px);
  }

  &__image {
    display: block;
    width: 100%;

    &--sm {
      width: 48px;
      height: 48px;
      object-fit: cover;
    }
  }

  &__image-wrapper {
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
  }

  &__details {
    padding-top: calc(var(--span-xs) + 5px);
  }

  &__box {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  &__ratings {
    display: flex;
    gap: 1px;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &__header {
    font-family: var(--Mulish);
    font-size: var(--size-m);
    font-style: normal;
    font-weight: var(--weight-xlg);
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
  }

  &__paragraph {
    margin-top: 5px;
    font-family: var(--Mulish);
    font-size: var(--size-xs);
    font-style: normal;
    font-weight: var(--weight-sm);
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;

    &--light {
      margin-top: 7px;
      color: #757575;
    }

    a {
      color: #294f7c;
      text-decoration: none;
    }
  }

  &__tags {
    margin-top: 11px;
    list-style-type: none;
    display: flex;
    gap: 5px;
    position: relative;
  }

  &__tag {
    padding: 2px 5px;
    border: 1px solid #00a1e6;

    span {
      font-family: var(--Mulish);
      font-size: var(--size-xs);
      font-style: normal;
      font-weight: var(--weight-sm);
      line-height: 16px;
      letter-spacing: 0px;
      text-align: center;
      color: #00a1e5;
    }

    &--more {
      cursor: pointer;
    }
  }

  &__tag--more:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .tooltip {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: var(--span-s) calc(var(--span-xs) + 5px);
    background: #333333;
    right: -20px;
    top: 100%;
    transform: translate(-30%, 0);
    margin-top: var(--span-xs);
    border-radius: 3px;
    width: 300px;
    transition: all 300ms;

    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 47%;
      transform: translateX(-50%);
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #333333 transparent;
    }

    &__list {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 10px;
      column-gap: 20px;
    }

    &__item {
      flex: 1 0 calc(50% - 20px);
      display: flex;
      align-items: center;
      gap: 5px;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .text {
        font-family: var(--Mulish);
        font-size: var(--size-xs);
        font-style: normal;
        font-weight: var(--weight-sm);
        line-height: 16px;
        letter-spacing: 0px;
        text-align: left;
        color: #ffffff;
      }
    }
  }

  &__location {
    margin-top: 15px;
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;

      svg {
        width: 16px;
        height: 20px;
      }
    }

    .text {
      font-family: var(--Mulish);
      font-size: var(--size-xs);
      font-style: normal;
      font-weight: var(--weight-sm);
      line-height: 16px;
      letter-spacing: 0px;
      text-align: left;
      color: #333333;
    }
  }

  &__mark {
    position: absolute;
    right: calc(var(--span-xs) + 5px);
    top: calc(var(--span-xs) + 5px);
    z-index: 2;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }
}

.empty {
  margin-top: calc(var(--span-2xl) + 5px);
  display: flex;
  flex-direction: column;
  align-items: center;

  &--hidden {
    display: none;
  }

  &__icon {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__text {
    margin-top: var(--span-s);
    font-family: var(--Mulish);
    font-size: var(--size-m);
    font-style: normal;
    font-weight: var(--weight-xlg);
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #757575;
  }
}

.error {
  @extend .empty;

  &--hidden {
    display: none;
  }

  &__icon {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__text {
    margin-top: var(--span-s);
    font-family: var(--Mulish);
    font-size: var(--size-m);
    font-style: normal;
    font-weight: var(--weight-xlg);
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #757575;
  }

  &__message {
    margin-top: 5px;
    font-family: var(--Mulish);
    font-size: var(--size-xs);
    font-style: normal;
    font-weight: var(--weight-sm);
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #757575;
  }
}

.pagination {
  display: flex;

  &__text {
    font-family: var(--Mulish);
    font-size: var(--size-s);
    font-style: normal;
    font-weight: var(--weight-sm);
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
    margin-right: var(--span-s);
    align-self: center;
  }

  &__list {
    display: flex;
    list-style-type: none;
    gap: 10px;
  }

  &__button {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 5px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;

      &-prev {
        &--disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
      }

      &-next {
        &--disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
      }
    }

    &.active {
      background: #002d63;
    }

    &.active span {
      color: #ffffff;
    }

    span {
      font-family: var(--Mulish);
      font-size: var(--size-s);
      font-style: normal;
      font-weight: var(--weight-sm);
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;
      color: #333333;
    }
  }
}

.price {
  margin-left: auto;
  padding-top: calc(var(--span-2xl) + var(--span-xl));

  span {
    display: block;
  }

  &__save {
    display: flex;
    justify-content: flex-end;

    span {
      display: inline !important;
      background: #00a1e6;
      padding: 1px 5px;
      font-family: var(--Mulish);
      font-size: var(--size-xs);
      font-style: normal;
      font-weight: var(--weight-xlg);
      line-height: 20px;
      letter-spacing: 0px;
      text-align: right !important;
      color: #ffffff;
    }
  }

  &__avg {
    margin-top: 5px;
    font-family: var(--Mulish);
    font-size: var(--size-xs);
    font-style: normal;
    font-weight: var(--weight-sm);
    line-height: 16px;
    letter-spacing: 0px;
    text-align: right;
    color: #757575;
  }

  &__tag-box {
    display: flex;
    gap: 5px;
  }

  &__tag {
    &--new {
      font-family: var(--Mulish);
      font-size: var(--size-l);
      font-style: normal;
      font-weight: var(--weight-xlg);
      line-height: 30px;
      letter-spacing: 0px;
      text-align: right;
      color: #000000;

      @media only screen and (max-width: 1200px) {
        font-size: calc(var(--size-m));
        line-height: 25px;
      }
    }

    &--old {
      font-family: var(--Mulish);
      font-size: var(--size-xs);
      font-style: normal;
      font-weight: var(--weight-sm);
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;
      align-self: flex-end;
      color: #757575;
      text-decoration: line-through;

      @media only screen and (max-width: 1200px) {
        font-size: 10px;
        line-height: 15px;
      }
    }
  }
}

.back-to-top {
  .scroll-to-top {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-s);
    line-height: 20px;
    color: #002d63;
  }
}

.footer {
  margin-top: var(--span-l);

  &__top {
    padding: var(--span-s) 0;
    background: #333333;

    .container {
      flex: 0 0 100%;
    }
  }

  &__bottom {
    padding: var(--span-xs) 0;
    background: #000000;

    .container {
      flex: 0 0 100%;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    list-style-type: none;
    gap: 40px;
  }

  &__link {
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-s);
    line-height: 20px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
  }

  &__copyright {
    font-family: var(--Mulish);
    font-style: normal;
    font-weight: var(--weight-sm);
    font-size: var(--size-xs);
    line-height: 16px;
    text-align: left;
    color: #ffffff;
  }
}
