.header {
  height: var(--navigation__height);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border);
  background: #ffffff;

  @media only screen and (max-width: 1140px) {
    border-bottom: none;
  }

  &__logo {
    height: 35px;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 35px;
  }

  &__logo {
    height: 35px;
  }

  .container {
    flex: 0 0 100%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    display: none;

    @media only screen and (max-width: 1140px) {
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav {
  @media only screen and (max-width: 1140px) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: var(--span-m);
    list-style-type: none;

    @media only screen and (max-width: 1140px) {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    font-family: var(Mulish);
    font-size: var(--size-m);
    font-style: normal;
    font-weight: var(--weight-sm);
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--nav-black);

    &--flex {
      display: flex;
      gap: var(--span-xs);
    }
  }
}
