.loader-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 30px 15px 15px 15px;
  overflow: hidden;
  direction: ltr;
  border-radius: 2px;

  @media only screen and (max-width: 1140px) {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.loader-item::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 500%;
  margin-left: -250%;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 46%,
      rgba(255, 255, 255, 0.35) 50%,
      rgba(255, 255, 255, 0) 54%
    )
    50% 50%;
  -webkit-animation: loaderAnimation 0.8s linear infinite;
  animation: loaderAnimation 0.8s linear infinite;
  content: " ";
  pointer-events: none;
}

.loader-item > * {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;

  @media only screen and (max-width: 1140px) {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.loader-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: -7.5px;
}
.loader-row div {
  height: 10px;
  margin-top: 5.5px;
  background-color: #ced4da;
}

.loader-row .big,
.loader-row.big div {
  height: 20px;
}

.loader-col-6 {
  flex: 0 0 50%;
}

.loader-col-12 {
  flex: 0 0 100%;
}

[class*="loader-col"] {
  direction: ltr;
}
[class*="loader-col"] > * + .loader-row {
  margin-top: 0;
}
[class*="loader-col"] > * + * {
  margin-top: 7.5px;
}

.loader-avatar {
  position: relative;
  width: 100%;
  min-width: 60px;
  overflow: hidden;
  background-color: #ced4da;
  border-radius: 50%;
}

.loader-avatar::before {
  display: block;
  padding-top: 100%;
  content: " ";
}

.loader-picture {
  width: 100%;
  height: 120px;
  background-color: #ced4da;
}

@-webkit-keyframes loaderAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}

@keyframes loaderAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}
