.u-flex-grow {
  gap: 0 !important;
  flex-grow: 1;
}

.u-flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.u-picture-sm {
  width: 200px;
  height: 200px;

  @media only screen and (max-width: 600px) {
    width: 100px;
    height: 150px;
  }
}

.u-loading-hidden {
  display: none;
}
